{% if section.settings.enable_banner %}
	<!--/ find visitor usergroup -->
	{% assign customer_group_name = '' %}
	{% if customer %}
		<!--/ customer is loggedin and is VIP -->
		{% if customer.tags contains 'VIP' %}
			{% assign customer_group_name = 'vip_customer' %}
		{% else %}
			{% assign customer_group_name = 'customer' %}
		{% endif %}
	{% else %}
		{% assign customer_group_name = 'guest' %}
	{% endif %}

	{% if section.blocks.size > 0 %}
		{% for block in section.blocks %}
			{% if block.settings.banner_for == customer_group_name %}
				{% assign banner_font_size = block.settings.banner_text_size %}
                {% assign banner_font_color = block.settings.banner_text_color %}
				{% assign banner_link = block.settings.banner_link %}
                <div class="big_banner 
                  {% if block.settings.banner_background != blank %}has-bg{% endif %}{% if banner_link != blank %} haslink{% endif %}"
                  {% if banner_link != blank %}onclick="location.href='{{ banner_link }}'"{% endif %}
                  {% if block.settings.banner_background != blank %}style="background-image:url({{ block.settings.banner_background | img_url: 'master' }})"{% endif %}>
                      <p class="{{ banner_font_size }}" style="color:{{ banner_font_color }}">{{ block.settings.banner_paragraph }}</p>
                </div>
			{% endif  %}
		{% endfor %}
	{% endif %}
{% endif %}

{% schema %}
  {
    "name": "Banner config",
    "settings": [
		{
			"type":"checkbox",
			"id":"enable_banner",
			"label":"Enable banner"
		}
	],
	"blocks": [
      {
        "type": "text_block",
        "name": "Banner vs usergroup",
        "settings": [
		  {
			"type":"select",
			"id":"banner_for",
			"label":"Banner for user type",
			"options": [
               {
                 "value": "guest",
                 "label": "Guest(not loggedin)"
               },
               {
                 "value": "customer",
                 "label": "Customer"
               },
               {
                 "value": "vip_customer",
                 "label": "VIP Customer"
               }
             ]
          },
		  {
              "type":"text",
              "id":"banner_paragraph",
              "label":"Banner text"
          },
		  {
			"type":"image_picker",
			"id":"banner_background",
			"label":"Banner background"
          },
          {
              "type":"url",
              "id":"banner_link",
              "label":"Banner link"
          },
          {
              "type":"color",
              "id":"banner_text_color",
              "label":"Banner text color"
          },
          {
              "type":"select",
              "id":"banner_text_size",
              "label":"Banner text size",
              "options": [
               {
                 "value": "small-font-size",
                 "label": "Small"
               },
               {
                 "value": "medium-font-size",
                 "label": "Medium"
               },
               {
                 "value": "large-font-size",
                 "label": "Large"
               }
             ]
          }
		    
        ]
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
