<div class="page-width">
  {% if section.settings.title != blank %}
    <div class="section-header text-center">
      <h2>{{ section.settings.title | escape }}</h2>
    </div>
  {% endif %}
  
  {% assign collection_handle = section.settings.selected_collection %}
  {% assign product_limit = section.settings.count_product %}
  {%- assign max_height = 345 -%}
  {%- assign grid_item_width = 'medium-up--one-third' -%}
  <ul class="grid grid--uniform grid--view-items">
    {% for product in collections[collection_handle].products limit: product_limit %}
  {% if product.object_type == 'product' and product.type == 'SHOPSTORM_HIDDEN_PRODUCT' %}{% continue %}{% endif %}

      <li class="grid__item grid__item--{{section.id}} {{ grid_item_width }} featured-wrapper">
        {% include 'product-card-grid-featured', max_height: max_height, product: product %}
      </li>
    {% endfor %}
  </ul>
</div>

{% schema %}
  {
    "name": "Featured Collection",
    "settings": [
		{
			"type":"collection",
			"id":"selected_collection",
			"label": "select featured collection"
		},
		{
			"type":"range",
			"id":"count_product",
			"min":1,
			"max": 30,
			"step": 1,
			"label":"Products count to display",
			"default":3
		}
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
