<div class="banners-wrapper">
  {% if section.blocks.size > 0 %}
  	  {% case section.blocks.size %}
        {% when 3 %}
          {%- assign banner_class = 'grid__item medium-up--one-third' -%}
        {% when 2 %}
          {%- assign banner_class = 'grid__item medium-up--one-half' -%}
        {% when 1 %}
          {%- assign banner_class = 'grid__item' -%}
      {% endcase %}
  
      {% for block in section.blocks %}
  		  {% assign banner_link = block.settings.banner_link %}
          <div class="individual-banner {{ banner_class }} 
                {% if block.settings.banner_background != blank %}has-bg{% endif %}{% if banner_link != blank %} haslink{% endif %}"
               	{% if banner_link != blank %}onclick="location.href='{{ banner_link }}'"{% endif %}
               	{% if block.settings.banner_background != blank %}style="background-image:url({{ block.settings.banner_background | img_url: 'master' }})"{% endif %}
               >{{ block.settings.banner_paragraph }}</div>
      {% endfor %}
  {% endif %}
</div>

{% schema %}
  {
    "name": "Add banners",
    "settings": [
    ],
	"blocks": [
      {
        "type": "text_block",
        "name": "banner",
		"limit": 3,
        "settings": [
		  {
            "type":"text",
            "id":"banner_paragraph",
            "label":"Banner text"
          },
          {
            "type":"image_picker",
            "id":"banner_background",
            "label":"Banner background"
          },
          {
            "type":"url",
            "id":"banner_link",
            "label":"Banner link"
          }
		    
        ]
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
