.faq-listing h4{cursor:pointer;}
.faq-listing p{display:none;}
.big_banner {
    min-height: 200px;
    background-size: cover;
    width: 100%;
}.big_banner.haslink, .individual-banner.haslink{
	cursor:pointer;
}
p.large-font-size {
    font-size: 40px;
}p.medium-font-size{
	font-size: 25px;
}p.small-font-size{
	font-size: 15px;
}.big_banner > p {
    text-align: center;
    padding-top: 35px;
    width: 90%;
    margin: auto;
}.individual-banner {
    min-height: 300px;
}.individual-banner {
    min-height: 300px;
    background-size: cover;
}.individual-banner {
    text-align: center;
    font-size: 18px;
}.featured-wrapper{
	position: relative;
}.add-to-cart-onhover {
    position: absolute;
    top: 35%;
    z-index: 99;
    left: 35%;
  	display:none;
}.featured-wrapper:hover .add-to-cart-onhover{
	display:block;
}
